body {
    background-color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgb(20, 20, 20);
  }

header {
    background-color: #fff;
    padding: 1em;
  
  }

h2 {
    font-weight: normal;
  }
  
h1 {
    margin: 1em 0 1em 0;
    text-align: center;
    font-size: 2em; 
  }
  nav li {
    padding: 1em 1.25em;
  }
  a {
    color: #6547e9;
    text-decoration: none;
  }

  h2 a:hover {
    text-decoration: underline;
  }

  nav a:hover {
    color: #6547e9;
  }
  
  .button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid #6547e9;
  }
  
  .menu-nav {
    box-shadow: 0 2px 5px 0;
    border-radius: 8px;
  }

  .menu-nav a {
    padding: 10px 0;
  }

  nav a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    transition: color 0.3s ease;
  }
  

  .secties {
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .btn-meer {
    display: block;
    text-align: center;
    width: 200px;
    transition: all 0.5s;
  }
  
  .btn-meer:hover {
    background-color: #6547e9;
    color: #fff;
  }

  .secties article {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 12px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(20, 20, 20);
  }

  .secties article img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .secties2 article {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 12px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(20, 20, 20);
  }

  .secties2 article img {
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .secties2 {
    padding: 2em;
  }
  
  footer {
  background-color: rgb(20, 20, 20);
  color: #fff;
  padding: 1em;
  text-align: center;
}

.indeling {
    padding: 1rem 0 0 0;
    display: flex;
    max-width: 1000px;
    text-decoration: none;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }
  
  .indeling input {
    display: none;
  }
  
  .indeling label {
    border: 2px solid #6547e9;
    border-radius: 12px;
    padding: 10px;
    margin-top: 0.5rem;
    color: #6547e9;
  }
  
.indeling label:has(input:checked) {
    color: #fff;
    background-color: #6547e9;
  }

.filter1, .filter2{
  display: grid;
  gap: 10px; 
}

.flex{
  margin: 20px;
  display: flex; 
}

.filter-groep{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 12px;
  color: rgb(20, 20, 20);
}

.filter1 label,
.filter2 label {
  width: 100px; 
  display: inline-block;
}

h3{
  font-size: 16px;
}

.filter-text{
  font-size: 20px;
}


@media only screen and (max-width: 959px) {

    .menu-nav {
      position: absolute;
      width: 250px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
  
      background-color: #fff;
  
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
 }
      

  nav {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

  }

  nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

  }

  nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #232323;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

  }

  nav span:first-child {
    transform-origin: 0% 0%;
  }

  nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  nav #menu-toggle:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  nav #menu-toggle:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  nav #menu-toggle:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  nav #menu-toggle:checked~.menu-nav {
    transform: none;

  }

  .menu-nav li {
    display: block;
  }

  .alle-producten.secties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .alle-producten.secties article {
    display: block;
  }

}

@media only screen and (min-width: 960px) {
    .menu-nav {
      box-shadow: none;
      padding: 0;
      width: 1000px;
      margin: 0 auto;
    }
  
    .menu-nav li {
      display: inline;
      padding: 0.5em;
    }
  
    nav #menu-toggle {
      display: none;
    }
  
    #menu-toggle~span {
      display: none;
    }
  
    nav #menu-toggle~.menu-nav {
      transform: none;
    }
  
    .menu-nav {
      display: flex;
      justify-content: space-around;
    }
  
    .secties article {
      max-width: 2000px;
      display: grid;
      grid-template-columns: 2.2fr 1.5fr;
    }
  
    .secties article img {
      margin: 0;
    }
  
    .secties article div {
      padding-left: 1em;
    }

    .secties .btn-meer {
      width: 300px;
    }

    .secties2 .btn-meer {
      width: 300px;
    }

    .secties2 article {
      max-width: 1000px;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .secties2 article img {
      margin: 0;
    }
  
    .secties2 article div {
      padding-left: 1em;
    }

    .secties2 .btn-meer {
      width: 300px;
    }

    .alle-producten.secties {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 1.5em;
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
    }
  
    .alle-producten.secties article {
      display: block;
    }

    .alle-r.secties2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5em;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .alle-r.secties2 article {
      display: block;
    }
  
  }
  
@media only screen and (max-width: 700px) {
  .alle-producten.secties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .alle-producten.secties article {
    display: block;
  }
  
}
