<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {% do craft.app.view.registerCssFile('@web/styles/normalize.css') %}
    {% do craft.app.view.registerCssFile('@web/styles/style.css?67643') %}
</head>
<body>
<header>
    <h1>DrankenParadijs</h1>
    <nav>
        <input type="checkbox" name="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu-nav">
            <li><a href="index.twig">Home</a></li>
            <li><a href="./pages/ReclamePagina.html">Nieuws & Inspiratie</a></li>
            <li><a href="./pages/AssortimentPagina.html">Ons Assortiment</a></li>
            <li><a href="./pages/OverOnsPagina.html">Over Ons</a></li>
        </ul>
    </nav>
</header>

<section class="secties">
    <article>
      <picture>
        <source media="(max-width:959px)" srcset="https://fakeimg.pl/600x300">
        <source media="(min-width:960px)" srcset="https://fakeimg.pl/800x400">
        <img src="https://fakeimg.pl/500x200" alt="">
      </picture>
        <div>
          <h2><a href="./pages/reclameDetails.html">Reclame Titel 1</a></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
          <a href="./pages/reclameDetails.html">Lees meer</a>
        </div>
    </article>

    <article>
        <picture>
          <source media="(max-width:959px)" srcset="https://fakeimg.pl/600x300">
          <source media="(min-width:960px)" srcset="https://fakeimg.pl/800x400">
          <img src="https://fakeimg.pl/500x200" alt="">
        </picture>
          <div>
            <h2><a href="./pages/reclameDetails.html">Reclame Titel 2</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
            <a href="./pages/reclameDetails.html">Lees meer</a>
          </div>
      </article>

      <article>
        <picture>
          <source media="(max-width:959px)" srcset="https://fakeimg.pl/600x300">
          <source media="(min-width:960px)" srcset="https://fakeimg.pl/800x400">
          <img src="https://fakeimg.pl/500x200" alt="">
        </picture>
          <div>
            <h2><a href="./pages/reclameDetails.html">Reclame Titel 3</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac odio eget felis vestibulum feugiat.</p>
            <a href="./pages/reclameDetails.html">Lees meer</a>
          </div>
      </article>
      <a class="button btn-meer" href="./pages/ReclamePagina.html">Meer Nieuws & Inspiratie</a>
    </section>
    <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolorem nam rem reprehenderit cum praesentium animi veniam optio enim autem, aperiam sed consectetur aliquid ad itaque, inventore excepturi illo velit!</p>
        <a href="#">privacy policy</a>
    </footer>

</body>
</html>